<div class="tabs">
  <ul>
    <li
      class="tab"
      [ngClass]="{
        'tab-is-active': activeTabIndex == 0
      }"
      (click)="onTab(0)"
    >
      <a>Bigger side projects</a>
    </li>
    <li
      class="tab"
      [ngClass]="{
        'tab-is-active': activeTabIndex == 1
      }"
      (click)="onTab(1)"
    >
      <a>Smaller side projects</a>
    </li>
    <li
      class="tab"
      [ngClass]="{
        'tab-is-active': activeTabIndex == 2
      }"
      (click)="onTab(2)"
    >
      <a>FreeCodeCamp collection</a>
    </li>
    <li
      class="tab"
      [ngClass]="{
        'tab-is-active': activeTabIndex == 3
      }"
      (click)="onTab(3)"
    >
      <a>Mobile side project</a>
    </li>
  </ul>
</div>
