<div class="top-space" style="height: 10rem"></div>
<div class="container">
  <div class="block is-size-4">
    <p class="content">
      Hello! My name is Andy Liao, and I'm a front-end developer based in
      Toronto. I enjoy working with Angular and React, but can also code in
      plain JS/html/css. I have worked with backend components like MondoDB, as
      well as many JavaScript node packages.
    </p>
    <p class="content">
      I have a penchant for building educational tools, especially those that
      greatly benefit from an efficient front-end system. However, my attention
      can be dedicated towards any project, as I have a passion for coding and
      problem-solving - I won't get bored!
    </p>
    <p class="content">
      Please see my projects here, most of which are already hosted online
    </p>
    <div class="has-text-centered">
      <app-tabs></app-tabs>
    </div>
  </div>
</div>
